.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-shape-1 {
  width: 179px;
  height: 179px;
  margin: 5px auto 0 806px;
}

.u-section-1 .u-image-1 {
  width: 607px;
  height: 607px;
  background-image: url("images/HalfBody.webp");
  background-position: 50% 50%;
  background-size: cover;
  margin: -132px auto 0 155px;
}

.u-section-1 .u-shape-2 {
  width: 117px;
  height: 117px;
  margin: -324px auto 0 837px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 106px;
  margin-bottom: 51px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  --color-var: #2cccc4f2;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0 20px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0 20px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 89px auto 0 46px;
  padding: 3px 0 4px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: -29px 12px 0 auto;
  padding: 3px 0 4px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 20px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 20px 0 0 20px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 60px auto 0 42px;
  padding: 3px 0 4px;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: -29px 12px 0 auto;
  padding: 3px 0 4px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0 20px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 20px 0 0 20px;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 60px auto 0;
  padding: 3px 0 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-right: 60px;
    margin-left: 761px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -57px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -265px;
    margin-right: 30px;
    margin-left: 823px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 487px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 163px;
    height: 163px;
    margin-right: 73px;
    margin-left: 541px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -9px;
    margin-left: 113px;
  }

  .u-section-1 .u-shape-2 {
    width: 80px;
    height: 80px;
    margin-top: -550px;
    margin-right: 7px;
    margin-left: 603px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1076px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 138px;
    height: 138px;
    margin-right: 98px;
    margin-left: 361px;
  }

  .u-section-1 .u-image-1 {
    width: 447px;
    height: 447px;
    margin-top: 37px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -484px;
    margin-right: 28px;
    margin-left: 423px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1256px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 103px;
    height: 103px;
    margin-top: 50px;
    margin-right: 67px;
    margin-left: 161px;
  }

  .u-section-1 .u-image-1 {
    width: 324px;
    height: 324px;
    margin-top: 72px;
  }

  .u-section-1 .u-shape-2 {
    width: 61px;
    height: 62px;
    margin-top: -376px;
    margin-right: 19px;
    margin-left: 223px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1277px;
  }
}