.u-section-1 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-1 .u-shape-1 {
  width: 179px;
  height: 179px;
  margin: 5px 43px 0 918px;
}

.u-section-1 .u-image-1 {
  width: 607px;
  height: 607px;
  background-image: url("images/Icon2.webp");
  background-position: 50% 50%;
  margin: -132px auto 0;
}

.u-section-1 .u-shape-2 {
  width: 117px;
  height: 117px;
  margin: -324px 74px 0 auto;
}

.u-section-1 .u-list-1 {
  margin-top: 105px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14px));
  min-height: 307px;
  --gap: 21px;
  grid-auto-columns: calc(33.3333% - 14px);
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-1 {
  padding: 45px 30px 30px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 54px auto 0 95px;
  padding: 3px 0 4px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-2 {
  padding: 45px 30px 30px;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 54px auto 0 95px;
  padding: 3px 0 4px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-3 {
  padding: 45px 30px 30px;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 54px auto 0 95px;
  padding: 3px 0 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1184px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 60px;
    margin-left: 761px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -57px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -265px;
    margin-right: 30px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 70px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 332px;
    grid-gap: 21px;
    grid-auto-columns: calc(33.333333333333336% - 14px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1495px;
  }

  .u-section-1 .u-shape-1 {
    width: 163px;
    height: 163px;
    margin-right: 73px;
    margin-left: 541px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -9px;
  }

  .u-section-1 .u-shape-2 {
    width: 80px;
    height: 80px;
    margin-top: -550px;
    margin-right: 7px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 387px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 625px;
    grid-auto-columns: calc(50% - 10.5px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1599px;
  }

  .u-section-1 .u-shape-1 {
    width: 138px;
    height: 138px;
    margin-right: 98px;
    margin-left: 361px;
  }

  .u-section-1 .u-image-1 {
    width: 447px;
    height: 447px;
    margin-top: 37px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -484px;
    margin-right: 28px;
  }

  .u-section-1 .u-list-1 {
    width: 457px;
    margin-top: 341px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 838px;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1531px;
  }

  .u-section-1 .u-shape-1 {
    width: 103px;
    height: 103px;
    margin-top: 50px;
    margin-right: 67px;
    margin-left: 161px;
  }

  .u-section-1 .u-image-1 {
    width: 324px;
    height: 324px;
    margin-top: 72px;
  }

  .u-section-1 .u-shape-2 {
    width: 61px;
    height: 62px;
    margin-top: -376px;
    margin-right: 19px;
  }

  .u-section-1 .u-list-1 {
    width: 303px;
    margin-top: 256px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 919px;
  }
}